@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, .btn__inicio, .parrafo__inicio{
    font-family: "Press Start 2P", system-ui ;
}

p {
    
    -webkit-text-stroke-color: black;
    
}

.titulo__inicio{
    border-right: 4px solid white ;
    animation: parpadeo 1s infinite step-end, type 10s infinite;
}
.btn__inicio{
    box-shadow: 0 15px 0 green;
}
.img__inicio{
    filter: drop-shadow(0 0 10px #0ED800);
    animation: flotar 2s alternate infinite linear;
}

/* .mesa {
    background-image: url(img/mesa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

@keyframes parpadeo{
    50%{
        border-color: transparent;
    }
}
@keyframes type{
    0%{
        width: 0;
    }
    25%,100%{
        width: 100%;
    }
}
@keyframes flotar{
    from{
        transform: translateY(25px);
    }to{
        transform: translateY(-25px);
    }
}